body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    gap: 10px;
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.grid-container>div {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}